

.navbarOption{

    color:white;

    font-size: 1.6rem;

}

.navbarOption:hover{

    color:blue;

    transition: all 400ms;

}


#menuAccessButton{

    transition: all 600ms;

}

#menuAccessButton:hover{

    scale: 1.05;

    background-color: #0017e7;

}


.pageLogo{

    transition: all 500ms;

    font-weight:600;

}


.pageLogo:hover{

    scale: 1.04;

}


@keyframes slide{

    from
    {

        transform: translateX(-83%);

    }

    to
    {

        transform: translateX(72%);

    }

}


.carouselImage{

    width: 150px;
    height: 240px;

    margin-top: 20px;

    margin-bottom: 20px;

}


.carouselContainer::before{

    content: '';

    height: 100%;

    width: 12%;

    z-index: 2;

    background: white;

}


.carouselContainer::after{

    content: '';

    height: 100%;

    z-index: 2;

    width: 12%;

    background: white;

}


.slide{

    animation: 20s slide linear infinite;

}


.slide:hover{

    animation-play-state: paused;

}


.imageContainer{

    margin-left: 1.5rem;

}


#searchIcon{

    z-index: 2;

}


#bookTitle{

    z-index: 2;

    position: absolute;

    top:28%;

}


.featureSection{

    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap:0.5rem;

    padding: 1rem;

    width: 25%;
    height: 90%;

}


.featureTitle{

    text-align: start;

    width: 100%;

    height: fit-content;

    color:blue;

    font-size: 2rem;

    font-weight:700;

}


.featureText{

    color: white;

    text-align: start;

    font-size: 14px;

    font-weight: 500;

}


.mainFeatureTitle{

    font-weight: 600;

}


.infoButton{

    font-weight: 500;

}


.infoBoxTitle{

    font-weight: 500;

}

.infoBoxParaph{
    font-weight: 600;

}


.sliderImage{

    width: 350px;

    height: 550px;

}