

.navbarOption{

    color:white;

    font-size: 1.6rem;

}

.navbarOption:hover{

    color:blue;

    transition: all 400ms;

}


#menuAccessButton{

    transition: all 600ms;

}

#menuAccessButton:hover{

    scale: 1.05;

    background-color: #0017e7;

}


.pageLogo{

    transition: all 500ms;

    font-weight:600;

}


.pageLogo:hover{

    scale: 1.04;

}


@keyframes slide{

    from
    {

        transform: translateX(-99.8%);

    }

    to
    {

        transform: translateX(49.8%);

    }

}


.carouselImage{

    width: 150px;
    height: 240px;

    margin-top: 20px;

    margin-bottom: 20px;

    transition: all 300ms;

}

.carouselImage:hover{

    scale: 1.05;

}


.carouselContainer::before{

    content: '';

    height: 100%;

    width: 12%;

    z-index: 2;

    background: white;

}


.carouselContainer::after{

    content: '';

    height: 100%;

    z-index: 2;

    width: 12%;

    background: white;

}


.slide{

    animation: 25s slide linear infinite;

}



.slide:hover{

    animation-play-state: paused;

}


.imageContainer{

    margin-left: 1.5rem;
}


#searchIcon{

    z-index: 2;

}


#bookTitle{

    z-index: 2;

    position: absolute;

    top:28%;

}


.featureSection{

    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap:0.5rem;

    padding: 1rem;

    width: 25%;
    height: 90%;

}


.featureTitle{

    text-align: start;

    width: 100%;

    height: fit-content;

    color:blue;

    font-size: 2rem;

    font-weight:700;

}


.featureText{

    color: white;

    text-align: start;

    font-size: 14px;

    font-weight: 500;

}


.mainFeatureTitle{

    font-weight: 600;

}


.infoButton{

    font-weight: 500;

}


.infoBoxTitle{

    font-weight: 500;

}

.infoBoxParaph{
    font-weight: 600;

}


.sliderImage{

    width: 250px;

    height: 400px;
    
    transition: all 300ms;

}

.sliderImage:hover{

    scale: 1.03;

}


.rankedImageBook{

    width: 150px;
    height: 250px;

    transition: all 300ms;

}

.rankedImageBook:hover{

    scale: 1.04;

}


.rankedBookContainer{

    width: 180px;
    height: 420px;

    display: flex;

    align-items: center;

    flex-flow: column;

    background-color: whitesmoke;

    padding-top: 1rem;
    padding-bottom: 1rem;

}


.cardStarIcon{

    width: 1.5rem;
    height: 1.5rem;

    transition: all 200ms;

}

.cardStarIcon:hover{

    scale: 1.3;

}


.bookName{

    font-weight: 600;

    font-size: 1.5rem;

}


.autorName{

    font-weight: 400;
    font-size: 1rem;

}


.priceContainer{

    display: flex;
    width: 90%;
    height: fit-content;

    background-color: red;

    border-radius: 1rem;

}


.priceTitleSection{

    display: flex;
    flex-flow: column;

    align-items: center;

    width: 50%;
    height: 100%;

}


.priceTitle{

    font-weight: 700;
    font-size: 1.2rem;

}


.priceWithTax{

    font-size: 1rem;
    font-weight: 400;

}


.priceIconSection{

    display: flex;

    flex-flow: column;

    align-items: center;

    justify-content: center;

    width: 50%;
    height: 100%;

}


.buyIconContainer{

    width: 2.5rem;
    height: 2.5rem;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 100%;

    background-color: wheat;

    transition: all 250ms;

}

.buyIconContainer:hover{
    
    scale: 1.1;

}


.selledBookImage{

    width: 130px;
    height: 230px;

    transition: all 350ms;

}


.selledBookImage:hover{

    scale:1.03;

}


.selledBookContainer{

    width: 370px;
    height: 300px;
    display: flex;

    background-color: aliceblue;

}


.sellSection1{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

}


.sellSection2{

    width: 50%;
    height: 100%;

    padding: 0.5rem;

    display: flex;
    align-items: start;
    flex-direction: column; 

}


.sellLinksContainer{

    width: 95%;
    height: 3rem;

    gap: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

}


.categorieLink{

    width: 48%;
    height: 2rem;
    border-radius: 0.4rem;

    font-size: 0.8rem;

    background-color: #0017e7;

    display: flex;
    align-items: center;
    justify-content: center;
    color:white;

}


.starScore{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 48%;

    gap: 10%;
    height: 2rem;
    border-radius: 0.4rem;

    background-color: green;

}


.starScoreIcon{

    width: 1rem;
    height: 1rem;
}


.starSpan{

    font-weight: 600;

    font-size: 1.5rem;

}


.selledBookTitle{

    font-size: 1.6rem;

    font-weight: 600;

}


.selledBookAutor{

    font-weight: 1.2rem;

    font-weight: 400;

}


.selledBookPrice{

    font-size: 2rem;
    font-weight: 600;

}


.timeSaleSpan{

    border: 4px solid black;

    width: 18%;
    height: 80%;
    font-size: 2rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


.spanTimeMetric{

    font-weight: 400;
    font-size: 0.7rem;

}