

.navbarOption{

    color:white;

    font-size: 1.5rem;

}

.navbarOption:hover{

    color:blue;

    transition: all 400ms;

}


#menuAccessButton{

    transition: all 600ms;

}

#menuAccessButton:hover{

    scale: 1.05;

    background-color: #0017e7;

}


.pageLogo{

    transition: all 500ms;

}


@keyframes slide{

    from
    {

        transform: translateX(-105%);

    }

    to
    {

        transform: translateX(100%);

    }

}


.carouselImage{

    width: 150px;
    height: 240px;

}


.carouselContainer::before{

    content: '';

    height: 40%;

    width: 25%;

    z-index: 2;

    background: white;

}


.carouselContainer::after{

    content: '';

    height: 40%;

    z-index: 2;

    width: 25%;

    background: white;

}


.slide{

    animation: 13s slide linear infinite;

}


.slide:hover{

    animation-play-state: paused;

}


.imageContainer{

    margin-left: 0.5rem;

}


